html {
    background-color:white;
}

body {
    min-height: 100vh;
    margin: 0;
    width: 90%;
    margin: auto;
    background-color: white;
    flex-direction: column;
    display: flex;
}


header {
    background-color:white;
    color: white;
    margin-bottom: 2em;
}



h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    color:#0b2d60;
}


header img {
    width: 4em;
    height: 4em;
    padding-left: 2em;
    padding-right: 2em;
}

.block{
    margin-bottom: 5%;
}

/*menu_déroulant*/
.menu {
    list-style: none;
    padding: 0;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 15%;
    gap: 20%;
    font-size: 200%;
    display: flex;
    flex-direction: row;
    background: transparent;
    color: white ; 
    text-decoration: none;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    padding: 10px;
    background-color: #0b2d60;
}

.menu a:hover {
    color: lightblue;
}

.menu li {
    position: relative;
    display: block;
    width: 300px;
    text-decoration: none;
}

.bg {

    background-image: url("voiture\ fond.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;

}

/* Sous-menu caché par défaut */
.submenu {
    line-height:200%;
    list-style: none;
    position: absolute;
    border-radius: 8px;
    z-index: 999;
    top: 100%;
    left: 0;
    background:#0b2d60 ;
    padding: 0;
    margin-bottom: 50%;
    display: none;
    width: 100%;
}
.passager{
    margin: 60%;
    padding: 10%;

}

.conducteur{
    margin:60%;
    padding: 10%;
}

/* Afficher le sous-menu au survol */
.dropdown:hover .submenu {
    display: block;
}

.submenu li a {
    display: block;
    width: 90%;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background:#0b2d60;
}
