html {
    /* style */
    background-color:white;
}

body {
    /* style */
    width: 90%;
    margin: auto;
    background-color: white;
    flex-direction: column;
    display: flex;
}


header {
    /* style */
    background-color:white;
    color: white;
    margin-bottom: 2em;
}



h1 {
    /* style */
    text-align: center;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}


header img {
    /* style */
    width: 4em;
    height: 4em;
    padding-left: 2em;
    padding-right: 2em;
}

.block{
    margin-bottom: 5%;
}


/*menu_déroulant*/
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    background: transparent;
    color: white ; 
    text-decoration: none;
}

.menu a {
    color: white;
    text-decoration: none;   /* enlève le soulignement */
    display: block;          /* pour occuper toute la largeur du li */
    padding: 10px;           /* espace interne pour agrandir le fond */
    background-color: #0b2d60;
}

.menu a:hover {
    color: lightblue;              /* couleur du texte au survol */
}

.menu li {
    position: relative; /* Nécessaire pour placer le sous-menu */
    display: block;
    width: 100%;
    text-decoration: none;
}

.bg {

    background-image: url("voiture\ fond.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;

}

 
/* Sous-menu caché par défaut */
.submenu {
    line-height:200%;
    list-style: none;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    background:#0b2d60 ;
    padding: 0;
    margin-bottom: 50%;
    display: none; /* C’est ce qui rend le menu déroulant */
    width: 100%;
}
.passager{
    margin: 60%;
    padding: 10%;
    
}

.conducteur{
    margin:60%;
    padding: 10%;
}

/* Afficher le sous-menu au survol */
.dropdown:hover .submenu {
    display: block;
}

.submenu li a {
    display: block;
    width: 90%;/* padding: 150px 150px*; */
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background:#0b2d60;
}
