html {
    background-color:white;
}

body {
    width: 90%;
    margin: auto;
    background-color: white;
    flex-direction: column;
    display: flex;
}


header {
    background-color:white;
    color: white;
    margin-bottom: 2em;
}



h1 {
    text-align: center;
    font-size: 3.5em;
    padding: 40px 0;
    color: #0b2d60;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
}


header img {
    width: 4em;
    height: 4em;
    padding-left: 2em;
    padding-right: 2em;
}

.block{
    margin-bottom: 5%;
}


/*menu déroulant*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    list-style: none;
}

.menu a {
    background-color: #0b2d60;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.menu a:hover {
    background-color: #1a4a8d;
    transform: translateY(-5px);
}

.menu li {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
}

.bg {

    background-image: url("voiture\ fond.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;

}

 
/* Sous-menu caché par défaut */
.submenu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    border-radius: 0 0 8px 8px;
    padding: 10px 0;
    z-index: 1000;
}

.passager{
    margin: 60%;
    padding: 10%;
    
}

.conducteur{
    margin:60%;
    padding: 10%;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li a {
    color: #0b2d60 !important;
    background-color: white !important;
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
}

.submenu li a:hover {
    background-color: #f0f4f8 !important;
    color: #007bff !important;
}
